body{
  background-color:black;
  

}
h1{
  color:white;
}
.nav{
  background-color: darkred;
  width: 100%;
  display: block;
  padding: 2px;
}

ul{
  list-syle-type: none;
  margin: 0;
  padding: 0;
}

li{
  display: inline;
  padding: 25px;
  margin: 30px;
}
.main{
  width: 100%;
    height: 400px;
  background-color: grey;
  
  margin-bottom: 5px;
}
.row{
  display: flex;
}
.box{
  height: 150px;
  width: 25%;
  background-color: grey;
  margin:5px;
}
.row{
  display: flex;
  justify-content: space-between;
}
.box{
  height: 150px;
  width: 45%;
  background-color: grey;
  margin: 5px;
  
}
footer{
  height: 400px;
  width: 100%;
  background-color: grey;
  padding-top: 25px;
}
img{
  max-width: 50%;
    max-height: 50%;
  margin: 9px;
}
.box{
  height: 150px;
  width: 45%;
  background-color: grey;
  margin: 5px;
  display: flex;
}
form{
  display:flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 5%;
}
form input{
  margin: 20px;
}